# Data and Bags
bags/
data/
*.db3
*.bag
*.bag.bak

# Outputs and Results
output/
results/
maps/
*.pcd

# Unused configurations
config/

# Ignore all scripts except those required for LIO-SAM execution
scripts/*
!scripts/run_lio_sam.sh
!scripts/run_lio_sam_gnss.sh
!scripts/patch_yaml.py

# Python environments / cache
__pycache__/
*.pyc
.env
venv/

# Ignore Original Read-Copies
src/LIO-SAM-6AXIS-src/*
!src/LIO-SAM-6AXIS-src/mapOptmizationGps.cpp
